---
---

body, html, #content, .page {
	height: 100%;
	overflow: hidden;
}
.page.second {
	top: 100%;
	z-index: 600;
}
.page.third {
	top: 100%;
	z-index: 500;
}
.page.third .bg {
	width: 100%;
	height: 100%;
	background: url("http://www.unexpect.kr/appimages/03_bg_service.jpg") center no-repeat;
	background-size: cover;
	-webkit-transform: scale(1);
	    -ms-transform: scale(1);
	        transform: scale(1);
}
.active.page.third .bg {
	-webkit-transition: -webkit-transform 20s 1s;
	        transition: transform 20s 1s;
	-webkit-transform: scale(1.1);
	    -ms-transform: scale(1);
	        transform: scale(1.1);
	        transform: scale(1)\9;
}
.page.fourth {
	top: 100%;
	z-index: 400;
	/* background: url("http://www.unexpect.kr/appimages/04_bg_process.jpg") center no-repeat; */
	/* background-size: cover; */
	/* background-position: center 0; */
}
.page.sixth {
	top: 100%;
	z-index: 200;
}
.page.sixth .bg {
	background: url("http://www.unexpect.kr/appimages/06_bg_clients.png") center no-repeat;
	background-size: cover;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	-webkit-transition: -webkit-transform 20s 1s;
	        transition: transform 20s 1s;
}
.active.page.sixth .bg {
	-webkit-transition: -webkit-transform 20s 1s;
	        transition: transform 20s 1s;
	-webkit-transform: scale(1.1);
	    -ms-transform: scale(1);
	        transform: scale(1.1);
	        transform: scale(1)\9;
}
.page.seventh {
	top: 100%;
	z-index: 100;
}
.page.second .cycle-slideshow {
	height: 100%;
}
.page.second .left, .page.second .right {
	width: 50%;
	height: 100%;
	float: left;
	padding: 40px;
	position: relative;
	overflow: hidden;
}
.page.second .left {
	padding-right: 0;
}
.page.second .right {
	padding-left: 0;
}
.page.second .bg {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
	position: relative;
}
.page.second .bg .img {
	width: 100%;
	-webkit-transform: scale(1);
	    -ms-transform: scale(1);
	        transform: scale(1);
	-webkit-transition: all 20s;
	        transition: all 20s;
}
.active.page.second .bg.prev .img {
	-webkit-transform: scale(1.1);
	    -ms-transform: scale(1);
	        transform: scale(1.1);
	        transform: scale(1)\9;
}
.active.page.second .bg.cycle-slide-active .img {
	-webkit-transition: all 20s;
	        transition: all 20s;
	-webkit-transform: scale(1.1);
	    -ms-transform: scale(1);
	        transform: scale(1.1);
	        transform: scale(1)\9;
}
.page.second .bg .tit {
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 50%;
	display: block;
}
.page.second .bg .num {
	position: absolute;
	z-index: 10;
	bottom: 40px;
	left: 50%;
	display: block;
	margin-left: -22px;
}
.page.second .bg:nth-child(2) .tit {
	width: 491px;
	height: 420px;
	margin-left: -245.5px;
	margin-top: -210px;
}
.page.second .bg:nth-child(3) .tit {
	margin-left: -277px;
	margin-top: -45px;
}
.page.second .bg:nth-child(4) .tit {
	margin-left: -240.5px;
	margin-top: -45px;
}
.page.second .bg:nth-child(5) .tit {
	margin-left: -405px;
	margin-top: -45px;
}
.page.second .bg:nth-child(6) .tit {
	margin-left: -248px;
	margin-top: -45px;
}
.page.second .bg:nth-child(7) .tit {
	margin-left: -201px;
	margin-top: -45px;
}
.page.second .bg .img {
	width: 100%;
	height: 100%;
	background-size: cover;
}
.page.second .bg.first .img {
	background-image: url("http://www.unexpect.kr/appimages/02_about_01.jpg");
}
.page.second .bg.second .img {
	background-image: url("http://www.unexpect.kr/appimages/02_about_02.jpg");
}
.page.second .bg.third .img {
	background-image: url("http://www.unexpect.kr/appimages/02_about_03.jpg");
}
.page.second .bg.fourth .img {
	background-image: url("http://www.unexpect.kr/appimages/02_about_04.jpg");
}
.page.second .bg.fifth .img {
	background-image: url("http://www.unexpect.kr/appimages/02_about_05.jpg");
}
.page.second .bg.sixth .img {
	background-image: url("http://www.unexpect.kr/appimages/02_about_06.jpg");
}

.btn_round_yellow {
	width: 330px;
	border: solid 3px #b1986a;
	display: block;
	text-align: center;
	min-height: 85px;
	border-radius: 10px;
	/* background: url(http://www.unexpect.kr/appimages/01_btn_request_off.png) no-repeat center; */
	text-indent: -9999em;
	/*background-color: transparent;
	background: -webkit-linear-gradient(right, transparent 50%, #b1986a 50%);
	background: linear-gradient(to left, transparent 50%, #b1986a 50%);
	background-size: 200% 100%;
	background-position: right bottom;
	-webkit-transition: all 0.15s;
	        transition: all 0.15s;*/
	position: relative;       
	 
	/* ìˆ˜ì • */
	-webkit-transition: all 0.3s;
	transition: all 0.3s;   
	color: #fff;
	        
}

.btn_round_yellow:hover {
	background-color: #b1986a;
	border-color: #b1986a;
}


.wrap_btn_yellow {
	opacity: 0;
	-webkit-transition: all 1s;
	        transition: all 1s;
}
.active .wrap_btn_yellow {
	opacity: 1;
	-webkit-transition: all 1s 1.4s;
	        transition: all 1s 1.4s;
}
.active .btn_round_yellow.anim {

}
.btn_round_yellow:hover, .btn_round_yellow:active {
	/* background: url(http://www.unexpect.kr/appimages/01_btn_request_on.png) no-repeat center #b1986a; */
	background-position: left bottom;
}
.page.second .wrap_txt {
	position: absolute !important;
	top: 17%;
	left: 15%;
}
.w-1920{
	width:100%;
	height: 100%;
	max-width:1920px;
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -960px;
}

@media all and (max-height: 800px) {
	html, body {
		zoom: 0.85;
		-ms-zoom: 0.85;
	}
	#nav .line {
		width: 2px;
	}
	/*.page{min-width: 1980px}*/
	.w-1920{max-width:2214.5px;margin-left: -1107.25px;}
	
}


.page.second .wrap_txt02 {
	position: absolute !important;
	top: 28%;
	left: 15%;
}
p.cycle-slide {

}
.page.second .wrap_txt02 p {
	font-size: 30px;
	color: #242424;
	width: 600px;
	height: 30px;
	overflow: hidden;
}
.page.second .wrap_txt03 {
	left: 15%;
	position: absolute !important;
	top: 40%;
}
.page.second .wrap_txt03 pre {
	font-size: 20px;
	line-height: 41px;
	color: #242424;
	opacity: 0 !important;
	white-space: pre-line;
}
.page.second .pager {
	left: 15%;
	bottom: 28%;
	position: absolute;
	z-index: 500;
	-webkit-transition: opacity 1s;
	        transition: opacity 1s;
	opacity: 0;
}
.active.page.second .pager {
	opacity: 1;
	-webkit-transition: opacity 1.2s 1s;
	        transition: opacity 1.2s 1s;
}
.page.second .pager span {
	display: block;
	float: left;
	width: 40px;
	height: 40px;
	text-align: center;
	border: solid 1px #b1986a;
	line-height: 40px;
	font-size: 13px;
	color: #b1986a;
	margin-right: 2px;
	cursor: pointer;
	-webkit-transition: background 0.5s, color 0.5s;
	        transition: background 0.5s, color 0.5s;
}
.page.second .pager span.cycle-pager-active {
	color: #fff;
	background-color: #b1986a;
}
.page.second .wrap_txt04 {
	position: absolute !important;
	top: 80%;50%: 18%;
	left: 15%;
}
.page.second .wrap_txt04 a {
	display: block;
	font-size: 16px;
	font-style: italic;
	text-decoration: underline;
	color: #b1986a;
}
.page.third {

}
.page.third .tit {
	text-align: center;
	position: absolute;
	width: 100%;
	top: 14%;
	height: 59px;
	overflow: hidden;
}
.page.third .txt01 {
	text-align: center;
	position: absolute;
	width: 100%;
	top: 26%;
	font-size: 30px;
	color: #b1986a;
	height: 31px;
	overflow: hidden;
}
.page.third .txt02 {
	text-align: center;
	position: absolute;
	width: 100%;
	top: 35%;
	font-size: 19px;
	color: #fff;
	line-height: 32px;
	opacity: 0;
	-webkit-transition: all 1s;
	        transition: all 1s;
	white-space: pre-line;
}
.page.third .list_ico {
	position: absolute;
	bottom: 16%;
	width: 1550px;
	left: 50%;
	margin-left: -775px;
	/* transition: all 1s; */
}
.page.third .list_ico li {
	background-color: #fff;
	float: left;
	width: 280px;
	height: 280px;
	display: block;
	margin: 0 15px;
	border-radius: 280px;
	line-height: 410px;
	text-align: center;
	font-size: 23px;
	color: #b1986a;
	font-weight: bold;
	-webkit-transition: opacity 0.5s, width 0s 10s, height 0s 10s, background 10s, margin 0s 10s, font-size 10s, line-height 10s;
	        transition: opacity 0.5s, width 0s 10s, height 0s 10s, background 10s, margin 0s 10s, font-size 10s, line-height 10s;
	opacity: 0;
}
.page.third .list_ico li:nth-child(1) {
	background: url("http://www.unexpect.kr/appimages/03_service_01.png") center no-repeat #fff;
}
.page.third .list_ico li:nth-child(2) {
	background: url("http://www.unexpect.kr/appimages/03_service_02.png") center no-repeat #fff;
}
.page.third .list_ico li:nth-child(3) {
	background: url("http://www.unexpect.kr/appimages/03_service_03.png") center no-repeat #fff;
}
.page.third .list_ico li:nth-child(4) {
	background: url("http://www.unexpect.kr/appimages/03_service_04.png") center no-repeat #fff;
}
.page.third .list_ico li:nth-child(5) {
	background: url("http://www.unexpect.kr/appimages/03_service_05.png") center no-repeat #fff;
}
.active.page.third .list_ico li {
	opacity: 1;
	-webkit-transition: opacity 1s 1s;
	        transition: opacity 1s 1s;
}
.active.page.third .list_ico li:nth-child(2) {
	-webkit-transition-delay: 1.15s;
	        transition-delay: 1.15s;
}
.active.page.third .list_ico li:nth-child(3) {
	-webkit-transition-delay: 1.3s;
	        transition-delay: 1.3s;
}
.active.page.third .list_ico li:nth-child(4) {
	-webkit-transition-delay: 1.45s;
	        transition-delay: 1.45s;
}
.active.page.third .list_ico li:nth-child(5) {
	-webkit-transition-delay: 1.6s;
	        transition-delay: 1.6s;
}
.page.fourth .box_gray {
	position: absolute;
	top: 50%;
	left: 14%;
	background: rgba(225,225,225,0.7);
	padding: 100px 36px;
	text-align: center;
	margin-top: -250px;
	/*top: 1400px;
	-webkit-transition: top 1s;
	        transition: top 1s;*/
}
.box_gray .txt01 {
	color: #242424;
	font-size: 30px;
	margin-top: 46px;
	line-height: 43px;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 85px;
	text-align: center;
}
.box_gray .txt02 {
	color: #000;
	font-size: 18px;
	margin-top: 46px;
	line-height: 36px;
	opacity: 0;
	-webkit-transition: opacity 0.5s 1s;
	        transition: opacity 0.5s 1s;
	white-space: pre-line;
}
.active.page .box_gray .txt02 {
	opacity: 1;
}
.page.fourth ul {
	position: absolute;
	right: 12%;
	top: 50%;
	margin-top: -388px;
	width: 492px;
}
.page.fourth ul .subject {
	color: #242424;
	font-size: 30px;
	font-weight: bold;
	/* font-family: 'Noto Sans', sans-serif; */
	line-height: 34px;
}
.page.fourth ul .num {
	color: #242424;
	font-size: 16px;
	font-weight: bold;
	vertical-align: top;
	padding-top: 8px;
	display: inline-block;
	margin-right: 20px;
}
.page.fourth ul .tit {
	display: block;
	overflow: hidden;
	margin-bottom: 27px;
}
.page.fourth ul li {
	display: block;
	margin-bottom: 60px;
	width: 100%;
	height: 80px;
	position: relative;
}
.page.fourth ul .descript {
	font-size: 19px;
	color: #242424;
	padding-left: 46px;
	/* font-family: 'Noto Sans', sans-serif; */
}
.page.fourth ul li:last-child {
	margin-bottom: 0;
}
.page.sixth .txt01 {
	position: absolute;
	top: 9%;
	width: 100%;
	text-align: center;
	overflow: hidden;
	height: 60px;
}
.page.sixth .txt02 {
	position: absolute;
	top: 20%;
	/* width: 100%; */
	text-align: center;
	font-size: 30px;
	color: #242424;
	overflow: hidden;
	height: 30px;
	left: 0;
	width: 998px;
	text-align: left;
	margin-left: -499px;
	left: 50%;
}
.page.sixth .txt03 {
	position: absolute;
	top: 27%;
	width: 100%;
	text-align: center;
	font-size: 18px;
	color: #5b5b5b;
	line-height: 32px;
	overflow: hidden;
	/* width: 880px; */
	height: 60px;
	text-align: center;
}
.page.sixth li {
	float: left;
	text-align: center;
	width: 100%;
	margin-bottom: 26px;
	opacity: 0;
	-webkit-transition: all 1s;
	transition: all 1s;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}
.page.sixth ul {
	position: absolute;
	top: 39%;
	width: 89%;
	margin-left: 8%;
}
.page.sixth li:nth-child(6), .page.sixth li:nth-child(7), .page.sixth li:nth-child(8), .page.sixth li:nth-child(9) {
	width: 25%;
}
.page.seventh .left, .page.seventh .right {
	width: 50%;
	height: 100%;
	float: left;
}
.page.seventh .left .top, .page.seventh .left .bottom {
	width: 100%;
	height: 50%;
	position: relative;
	padding: 5% 0;
}
.page.seventh .left .top{
	height: 30%;
}
.page.seventh .left .bottom {
	background-color: #2b2b2b;
	height: 70%;
	overflow: hidden;
}
.page.seventh .left .top .txt01 {
	position: absolute;
	top: 21%;
	left: 18%;
	overflow: hidden;
	width: 291px;
	height: 60px;
}
.page.seventh .left .top .txt02 {
	position: absolute;
	top: 46%;
	left: 18%;
	width: 410px;
	height: 31px;
	overflow: hidden;
}
.page.seventh .left .top .txt02 a {
	font-size: 30px;
	color: #b1986a;
	text-decoration: underline;
	font-style: italic;
	position: absolute;
	top: 31px;
	-webkit-transition: all 1s;
	        transition: all 1s;
}
.page.seventh .left .top .txt03 {
	position: absolute;
	top: 58%;
	left: 18%;
	font-size: 17px;
	line-height: 30px;
	color: #5b5b5b;
	opacity: 0;
	-webkit-transition: all 1s;
	        transition: all 1s;
}
.page.seventh .bottom .tit {
	position: absolute;
	top: 8%;
	font-size: 25px;
	color: #fff;
	left: 18%;
	font-style: italic;
}
.page.seventh .bottom input,.page.seventh .bottom textarea {
	width: 48%;
	/* position: absolute; */
	/* left: 18%; */
	border: 0;
	border-bottom: solid 1px #7b7b7b;
	background: transparent;
	text-align: center;
	font-size: 16px;
	padding: 13px 0;
	color: #fff;
	opacity: 1;
	-webkit-transform: all 0.5s;
	-ms-transform: all 0.5s;
	transform: all 0.5s;
	position: static;
	float: left;
	z-index: 9999;
	/* margin-right: 24px; */
}
.page.seventh .bottom input:nth-child(2) {
	/* top: 20%; */
}
.page.seventh .bottom input:nth-child(3) {
	/* top: 35%; */
}
.page.seventh .bottom input:nth-child(1) {
	/* top: 34%; */
}
.page.seventh .bottom input:nth-child(4) {
	/* top: 50%; */
}
.page.seventh .bottom input:nth-child(5) {
	/* top: 65%; */
}
.btn_round_white {
	display: inline-block;
	width: 200px;
	border: solid 2px #7b7b7b;
	border-radius: 10px;
	font-size: 17px;
	color: #fff;
	text-align: center;
	padding: 20px 0;
	position: absolute;
	bottom: 6%;
	left: 50%;
	margin-left: -100px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	position: static;
	margin-left: 0;
}
.btn_round_white:hover {
	background-color: #b1986a;
	border-color: #b1986a;
}
#nav-toggle.active span:hover::before, #nav-toggle.active span:hover::after {
	background-color: #fff;
}
.page.sixth li:nth-child(1) {
	margin-left: 0;
	margin-right: 0;
}
.page.sixth li:nth-child(4) {
	width: 11%;
}
.page.sixth li:nth-child(3) {
	width: 24%;
}
.page.sixth li:nth-child(2) {
	width: 23%;
	/* transition-delay: 1s; */
}
.btn_round_yellow:hover::after, .btn_round_yellow:active::after {
	background-image: url("http://www.unexpect.kr/appimages/01_btn_request_on.png");
}
.btn_round_yellow::after {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	background: url("http://www.unexpect.kr/appimages/01_btn_request_off.png") center no-repeat;
	top: 0;
	left: 0;
	-webkit-transition: all 0.3s 0.1s;
	        transition: all 0.3s 0.1s;
}
.btn_round_yellow:hover::after {

}
.cur-w {
	cursor: wait !important;
}
.page.second .wrap_txt p {
	width: 500px;
	height: 69px;
	overflow: hidden;
	/* position: relative !important; */
}
.page.second .wrap_txt p img {
	position: absolute;
	top: 69px;
}
img {

}
.active.page.second .wrap_txt p.cycle-slide-active img {
	-webkit-transition: top 1.2s;
	        transition: top 1.2s;
	top: 0;
}
.page.second .wrap_txt02 p::after {
	content: attr(data-txt);
	position: absolute;
	top: 30px;
	left: 0;
	font-size: 30px;
	color: #242424;
}
.active.page.second .wrap_txt02 p.cycle-slide-active::after {
	-webkit-transition: all 1.2s 0.2s;
	        transition: all 1.2s 0.2s;
	top: 0;
}
.active.page.second .wrap_txt03 pre.cycle-slide-active {
	-webkit-transition: all 1.2s 0.4s;
	        transition: all 1.2s 0.4s;
	opacity: 1 !important;
}
.page.third .tit img {
	top: 59px;
	position: absolute;
	left: 50%;
	margin-left: -478px;
	opacity: 0;
	filter: alpha(opacity=0);
	/*-webkit-transition: top 1s 0.2s, width 0s 10s;
	        transition: top 1s 0.2s, width 0s 10s;*/
	-webkit-transition: top 1s 0.2s, width 0s 10s, opacity 3.5s;
	        transition: top 1s 0.2s, width 0s 10s, opacity 3.5s;
}
.active.page.third .tit img {
	filter: alpha(opacity=100);
	opacity: 1;
	top: 0;
	/* transition: top 1s 0.2s, width 0s 10s; */
}


.page.third .txt01::after {
	position: absolute;
	top: 31px;
	content: attr(data-txt);
	left: 0;
	margin-left: 0;
	width: 100%;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: top 1s 0.4s, width 0s 10s, opacity 3.5s;
	        transition: top 1s 0.4s, width 0s 10s, opacity 3.5s;
}
.active.page.third .txt01::after {
	top: 0;
	filter: alpha(opacity=100);
	opacity: 1;
	/* transition: all 1s 0.4s; */
}
.active.page.third .txt02 {
	opacity: 1;
	-webkit-transition: opacity 1s 0.6s, width 0s 10s;
	        transition: opacity 1s 0.6s, width 0s 10s;
}
.page.fourth ul li > div {
	position: absolute;
	top: -10px;
	opacity: 0;
	-webkit-transition: top 0.5s, opacity 0.3s;
	        transition: top 0.5s, opacity 0.3s;
}
.active.page.fourth ul li > div {
	top: 0;
	-webkit-transition: top 0.5s, opacity 0.3s;
	        transition: top 0.5s, opacity 0.3s;
	opacity: 1;
}
.active.page.fourth ul li:nth-child(1) > div {
	/*-webkit-transition-delay: 1s;
	        transition-delay: 1s;*/
}
.active.page.fourth ul li:nth-child(2) > div {
	-webkit-transition-delay: 0.15s;
	        transition-delay: 0.15s;
}
.active.page.fourth ul li:nth-child(3) > div {
	-webkit-transition-delay: 0.3s;
	        transition-delay: 0.3s;
}
.active.page.fourth ul li:nth-child(4) > div {
	-webkit-transition-delay: 0.45s;
	        transition-delay: 0.45s;
}
.active.page.fourth ul li:nth-child(5) > div {
	-webkit-transition-delay: 0.6s;
	        transition-delay: 0.6s;
}
.active.page.fourth ul li:nth-child(6) > div {
	-webkit-transition-delay: 0.75s;
	        transition-delay: 0.75s;
}
.active.page.fourth .box_gray {
	/*-webkit-transition: top 1s;
	        transition: top 1s;*/
	top: 50%;
}
.page.fourth .box_gray .tit {
	width: 889px;
	height: 59px;
	overflow: hidden;
	position: relative;
}
.page.fourth .box_gray .tit img {
	position: absolute;
	/*top: 100px;*/
	top: 0;
	left: 50%;
	margin-left: -239px;
	/*-webkit-transition: top 1s;
	        transition: top 1s;*/
	width: auto;
}
.active.page.fourth .box_gray .tit img {
	/*-webkit-transition: top 1s 0.3s;
	        transition: top 1s 0.3s;
	top: 0;*/
	/* width: 80%; */
	/* left: 10%; */
	margin-left: -239px;
	top: 0;
	/* width: auto; */
}

.page.fourth .box_gray .txt01::after{
	top: 0;
}

.page.fourth .box_gray .txt02{
	opacity: 1!important;
}

.box_gray .txt01::after {
	position: absolute;
	top: 100px;
	content: attr(data-txt);
	left: 50%;
	margin-left: 0;
	white-space: pre-line;
	-webkit-transition: top 1s;
	        transition: top 1s;
	width: 100%;
	left: 0;
}
.active.page .box_gray .txt01::after {
	top: 0;
	-webkit-transition: top 1s 0.4s;
	transition: top 1s 0.4s;
	/* font-family: 'Noto Sans', sans-serif; */
}
.page.sixth .txt01 img {
	position: absolute;
	top: 60px;
	left: 50%;
	margin-left: -130px;
	-webkit-transition: all 1s;
	        transition: all 1s;
}
.active.page.sixth .txt01 img {
	-webkit-transition: all 1s;
	        transition: all 1s;
	top: 0;
}
.page.sixth .txt02::after {
	content: attr(data-txt);
	position: absolute;
	top: 30px;
	-webkit-transition: all 1s;
	        transition: all 1s;
}
.active.page.sixth .txt02::after {
	top: 0;
	-webkit-transition: all 1s 0.2s;
	        transition: all 1s 0.2s;
}
.active.page.sixth li {
	opacity: 1;
	-webkit-transition: all 1s;
	        transition: all 1s;
}
.active.page.sixth li:nth-child(1), .active.page.sixth li:nth-child(3), .active.page.sixth li:nth-child(4), .active.page.sixth li:nth-child(5), .active.page.sixth li:nth-child(2) {
	-webkit-transition-delay: 1s;
	        transition-delay: 1s;
}
.active.page.sixth li:nth-child(6), .active.page.sixth li:nth-child(7), .active.page.sixth li:nth-child(8), .active.page.sixth li:nth-child(9) {
	-webkit-transition-delay: 1.2s;
	        transition-delay: 1.2s;
}
.active.page.sixth li img {
	-webkit-transition: all 0.6s;
	        transition: all 0.6s;
}
.active.page.sixth li:hover img {
	/*     transform: scale(1.1); */
}
.page.seventh .left .top .txt01 img {
	position: absolute;
	top: 60px;
	-webkit-transition: all 1s;
	        transition: all 1s;
}
.active.page.seventh .left .top .txt01 img {
	top: 0;
	-webkit-transition: all 1s;
	        transition: all 1s;
}
.active.page.seventh .left .top .txt02 a {
	top: 0;
	-webkit-transition: all 1s 0.2s;
	        transition: all 1s 0.2s;
}
.active.page.seventh .left .top .txt03 {
	opacity: 1;
	-webkit-transition: all 1s 0.8s;
	        transition: all 1s 0.8s;
}
.page.seventh .bottom input {

}
.active.page.seventh .bottom input:nth-child(2) {
	/* -webkit-transition: all 0.5s; */
	/* transition: all 0.5s; */
	/* -webkit-transition-delay: 1s; */
	/* transition-delay: 1s; */
	/* opacity: 1; */
}
.active.page.seventh .bottom input:nth-child(3) {
	/* -webkit-transition: all 0.5s; */
	/* transition: all 0.5s; */
	/* -webkit-transition-delay: 1.1s; */
	/* transition-delay: 1.1s; */
	/* opacity: 1; */
}
.active.page.seventh .bottom input:nth-child(4) {
	/* -webkit-transition: all 0.5s; */
	/* transition: all 0.5s; */
	/* -webkit-transition-delay: 1.2s; */
	/* transition-delay: 1.2s; */
	/* opacity: 1; */
}
.active.page.seventh .bottom input:nth-child(4) {
	/* -webkit-transition: all 0.5s; */
	/* transition: all 0.5s; */
	/* -webkit-transition-delay: 1.3s; */
	/* transition-delay: 1.3s; */
	/* opacity: 1; */
}
.active.page.seventh .bottom input:nth-child(5) {
	/* -webkit-transition: all 0.5s; */
	/* transition: all 0.5s; */
	/* -webkit-transition-delay: 1.4s; */
	/* transition-delay: 1.4s; */
	/* opacity: 1; */
}
.wrap_btn_round_white {
	opacity: 1;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	text-align: center;
	width: 100%;
	overflow: hidden;
	margin-top: 25px;
}
.active.page .wrap_btn_round_white {
	/* opacity: 1; */
	/* -webkit-transition: all 0.5s; */
	/* transition: all 0.5s; */
	/* -webkit-transition-delay: 1.5s; */
	/* transition-delay: 1.5s; */
}
.page.sixth .txt03::after {
	content: attr(data-txt);
	position: absolute;
	width: 880px;
	margin-left: -440px;
	/* top: 60px; */
	opacity: 0;
	-webkit-transition: opacity 1s;
	        transition: opacity 1s;
}
.active.page.sixth .txt03::after {
	opacity: 1;
	-webkit-transition: opacity 1s 0.4s;
	        transition: opacity 1s 0.4s;
}
.wrap_btn_yellow.min {
	position: absolute;
	bottom: 112px;
	z-index: 5000;
	margin-left: -165px;
	left: 50%;
	opacity: 0;
}
.page.fourth .bg {
	background: url("http://www.unexpect.kr/appimages/04_bg_process.jpg") center no-repeat;
	background-size: cover;
	background-position: center 0;
	width: 50%;
	height: 100%;
}

.wrap_bg {
	width: 100%;
	height: 100%;
	
}
.page.fourth .wrap_bg{
	background: url(..http://www.unexpect.kr/appimages/04_bg_ruler.png) 0 0 repeat-x;
}

.wrap_list {
	width: 100%;
	height: 100%;
	/* overflow-x: hidden; */
	/* overflow-y: auto; */
	/* position: absolute; */
	/* top: 50%; */
}

.page.seventh .top .btn_round_white{display: none;}
.form_div{overflow: hidden;margin-top: 90px;width: 64%;position: relative;left: 50%;margin-left: -32%;}



/*
 *
 * media query for device
 *
 *
 *
 *
 */

/* pc */

@media only screen and (max-width: 1400px) {
	.page.second .wrap_txt04 {
		left: 10%;
	}
	.page.second .pager {
		left: 10%;
	}
	.page.second .wrap_txt {
		left: 10%;
	}
	.page.second .wrap_txt02 {
		left: 10%;
	}
	.page.second .wrap_txt03 {
		left: 10%;
	}
	.page.fourth ul{right:9%}
	.page.fourth .box_gray{left:8%}
	
}
@media only screen and (max-width: 1920px) {
	.w-1920{max-width: auto;margin-left: 0;left:0}
	.page.fourth .box_gray {zoom:0.9}
}



	#map { height: 100%; }

.page.seventh .left .top .txt03 strong {
    font-size: 17px;
    font-weight: normal;
}


@media only screen and (max-height: 800px) {
	.active.page.fifth ul{bottom:4%}
	
}
body::after{
	transition: opacity 3s;
	-webkit-transition: opacity 3s;
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	width:100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	z-index: 9999;
	content: '';
	visibility: hidden;
}

body::before{
	visibility: hidden;
	 position: fixed;
	 top: 50%;
	 left: 50%;
	 background: url(..http://www.unexpect.kr/appimages/00_unexpect_loading.png) center no-repeat;
	 width: 100px;
	 height: 20px;
	 content: '';
	 z-index: 99999;
	 margin-left: -50px;
	 margin-top: -50px;
	 transition: opacity 3s;
	 -webkit-transition: opacity 3s;
	 opacity: 0;
}

body.loading {
    position: relative;

}

body.loading::after {
   visibility: visible;
    opacity: 1;

}

body.loading::before {
   visibility: visible;
    opacity: 1;
}

@media only screen and (max-width: 1600px) and (min-width: 1280px)   and (min-height: 900px){
	.page.fourth ul {
		right: 6%;
	}
	.active.page.fourth .box_gray{
		left: 7%;
	}
	.active.page.fifth ul{
		bottom: 4%;
	}
	
}
@media only screen and (max-width: 1280px) and min-height: 1024px){
	.page.second .wrap_txt03 pre{
		white-space: normal;
		padding-right: 40px;
	}
	.page.second .bg .tit{
		zoom:0.7
	}
}

@media only screen and (max-width: 1280px)   and (min-height: 900px)   {
	.active.page.third .list_ico{
		zoom:0.8
	}
	.page.fourth ul{
		zoom:0.9;
		
	}
	.active.page.fourth ul{
		right: 3%;
		
	}
	.active.page.fourth .box_gray{
		zoom:0.8
	}
	.page.fifth .tit{
		zoom:0.8;
		top: 17%;
		
	}
	.page.fifth ul{
		zoom:0.8
	}
	.active.page.fifth ul{
		bottom:13%;
	}
	.page.sixth ul{
		zoom:0.8
	}
	
}


.file-select {
    position: relative;
    cursor: pointer;
}

.file-select .file_bt {
    position: absolute;
    right: 0;
    font-size: 16px;
    top: 11px;
    line-height: 25px;
    color: #7b7b7b;
}


.agree-check {
    text-align: left;
    overflow: hidden;
    position: relative;
    height: 20px;
    cursor: pointer;
}

.agree-check input {
    display: none;
}

.agree-check .ck_txt {
    font-size: 13px;
    color: #777;
    vertical-align: top;
    height: 19px;
    /* display: block; */
    margin-left: 21px;
    line-height: 17px;
}

.p_color{
	color: #b1986a;
}

.file-select .file_bt:before {
    content: '';
    width: 20px;
    height: 25px;
    display: block;
    background: url(..http://www.unexpect.kr/appimages/icon_file_add.png);
    position: absolute;
    left: -30px;
}

.agree {
    font-size: 13px;
    line-height: 17px;
    margin-top: 20px;
    margin-bottom: 10px;
    overflow: hidden;
    color: #777;
    letter-spacing: -.03em;
}

.agree-check:before {
    content: '';
    width: 16px;
    height: 16px;
    background: url(..http://www.unexpect.kr/appimages/icon_check_off.png) 0 0px no-repeat;
    display: inline-block;
    padding-right: 5px;
    position: absolute;
}

.agree-check.on .ck_txt {
    color: #b1986a;
}

.agree-check.on:before {
    background-image: url(..http://www.unexpect.kr/appimages/icon_check_on.png);
}

.file-select #file {
    position: absolute;
    right: 0;
    opacity: 0;
    margin-right: 0;
    width: 100%;
}
.file-select *{
	cursor: pointer;
}
.page.seventh .bottom input:focus,.page.seventh .bottom textarea:focus {
    outline: 0;
    border-bottom-width: 2px;
    /* box-shadow: inset 0px 0px 0px 0px #b1986a; */
    border-color: #b1986a;
    color: #b1986a;
}


/* common */


.txt-anim {
	position: relative;
	overflow: hidden;
}
.txt-anim > * {
	position: absolute;
	left: 0;
}

.page.active .txt-anim > * {
	top: 0 !important;
}

.active.page.fourth ul li > div {
	top: 0;
	-webkit-transition: top 0.5s, opacity 4s;
	        transition: top 0.5s, opacity 4s;
	opacity: 1;
}

.page.fifth .tit .txt02, .page.sixth .txt01, .page.sixth .txt02 {
	opacity: 0;
	filter: alpha(opacity=0);
}

.active.page.fifth .tit .txt02, .active.page.sixth .txt01, .active.page.sixth .txt02{
	filter: alpha(opacity=100);
	opacity: 1;
	transition: all 1.2s 0.2s, opacity 4s!important;
	-webkit-transition: all 1.2s 0.2s, opacity 4s!important;
}

.page.seventh .left .top .txt01 img, .page.seventh .left .top .txt02 a{
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all 1s, opacity 4s!important;
    transition: all 1s, opacity 4s!important;
}

.active.page.seventh .left .top .txt01 img, .active.page.seventh .left .top .txt02 a{
	filter: alpha(opacity=100);
	opacity: 1;
	-webkit-transition: all 1s, opacity 4s!important;
    transition: all 1s, opacity 4s!important;
}

.page.seventh .web_bottom{display: block;}
.page.seventh .mobile_bottom{display: none;}
